/*  Main Menu Styles  */

.mainMenu-button {
    -fx-background-color: #1995AD;
    background-color: #1995AD;
    -fx-text-fill: #F1F1F2;
    -fx-font-size: 16px;
    font-size: 16px;
    -fx-pref-width: 100%;
    -fx-min-width: 100%;
    -fx-max-width: Infinity;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    -fx-padding: 10px;
    padding: 10px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-content-display: top;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-line-spacing: -5px;
}

.mainMenu {
    -fx-background-color: #1995AD;
    background-color: #1995AD;
    -fx-pref-width: 200px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.mainMenu :hover {
    -fx-background-color: #2F9FB5;
    background-color: #2F9FB5;
    -fx-text-fill: #F1F1F2;
}

/*  Main Content Styles  */

.mainContent {
    -fx-padding: 20px;
    padding: 20px;
    -fx-alignment: center;
}

.articleTable {
    -fx-background-color: #F1F1F2;
    background-color: #F1F1F2;
    -fx-border-color: #BCBABE;
    -fx-border: 0 1px 1px 1px;
    border: 0 1px 1px 1px;
    border-color: #BCBABE;
    -fx-pref-height: 400px;
    -fx-min-height: 200px;
    min-height: 200px;
    -fx-pref-width: 100%;
    -fx-min-width: 100%;
    min-width: 100%;
}

.articleTable .column {
    -fx-pref-width: 75px;
}

.articleTable .column-header {
    -fx-background-color: #1995AD;
    background-color: #1995AD;
    -fx-text-fill: #F1F1F2;
}

.article-container {
    -fx-spacing: 20;
    -fx-alignment: top-center;
}

.supplier-container {
    -fx-min-width: 800px;
    min-width: 800px;
}

.text-input, .combo-box {
    -fx-padding: 8px;
    padding: 8px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    border-radius: 4px;
    -fx-border-color: #BCBABE;
    border-color: #BCBABE;
    -fx-background-color: white;
    background-color: white;
}

.input-label {
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-text-fill: #333333;
    color: #333333;
}

.text-input:focused {
    -fx-border-color: #1995AD;
    border-color: #1995AD;
    -fx-border-width: 2px;
    border-width: 2px;
}

.combo-box {
    -fx-max-width: Infinity;
    max-width: Infinity;
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    min-height: 35px;
    -fx-max-height: 35px;
    max-height: 35px;
}

.combo-box .list-cell {
    -fx-padding: 0 8px;
    padding: 0 8px;
}


